<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Manager</title>
    <script type="module" src="{{url_for('static',filename='socketio.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <script type="module" src="{{url_for('static',filename='jquery.js')}}"></script>
    <script type="module" src="{{url_for('static',filename='script.js')}}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <h2>LOGIN SYSTEM</h2>
    <div class="container">
        <button><ion-icon name="logo-google"></ion-icon></button>
        <button><ion-icon name="logo-github"></ion-icon></button>
        <button><ion-icon name="logo-instagram"></ion-icon></button>
        <button><ion-icon name="logo-steam"></ion-icon></button>
        <button><ion-icon name="logo-discord"></ion-icon></button>
    </div>
</body>
</html>